/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;width:100%; background-color:	#FFA500; color:#fff;}
table tr{
    border-top:1px solid #fff;
}
table tr td{
    border:1px solid #fff;
    padding:20px;
    width:25%;
}
table tr th{
    border:1px solid #fff;
    padding:20px;
    width:25%;
}
.table-responsive{
    max-width: 100%;
    overflow: auto;
}


/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
    background:url(../images/1.jpg) no-repeat 0px 0px;
	background-size:cover;
	background-attachment: fixed;
	padding:3em 0;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*--background--*/
h1 {
    font-size: 1.5em;
    color: #fff;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    width: 32%;
    margin: 0 auto;
    border: 2px solid #fff;
	padding: 10px;
}
h2 {
    font-size: 32px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wthree-info p{
	color: #FFFFFF;
    font-size: 1.5em;
    letter-spacing: 1px;
    margin: 0em 0 .5em 0;
    font-weight: 100;
}
/*--//background--*/

/*-- spinner effect --*/
.clear-loading {
    text-align: center;
    margin: 3em auto 1em;
    position: relative;
    box-sizing: border-box;
}

.spinner {
    width: 100px;
    height: 100px;
}

.spinner > span,
.spinner > span:before,
.spinner > span:after {
    content: "";
    display: block;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.spinner > span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-left-color: transparent;
    -webkit-animation: effect-2 2s infinite linear;
    -moz-animation: effect-2 2s infinite linear;
    -o-animation: effect-2 2s infinite linear;
    animation: effect-2 2s infinite linear;
}

.spinner > span:before {
    width: 75%;
    height: 75%;
    border-right-color: transparent;
}

.spinner > span:after {
    width: 50%;
    height: 50%;
    border-bottom-color: transparent;
}

@-webkit-keyframes effect-2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes effect-2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*-- //spinner effect --*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #eee;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #eee;
}
::-ms-input-placeholder { /* IE 10+ */
  color: #eee;
}
::-moz-placeholder { /* Firefox 18- */
  color: #eee;
}

/*--timer--*/
.agile {
	text-align: center;
}
.agileits-timer{
    width: 45%;
    margin: 0em auto 2em;
    box-sizing: border-box;
}
.timer {
    font-size: 4em;
    display: inline-block;
    vertical-align: top;
    color: #fff;
	font-weight:600;
	background-color:green;

}
.text {
    font-size: .8em;
    color: #fff;
    margin-top: 0.5em;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 100;
}
.clock {
    background-color:#4B0082;
    border: 3px solid transparent;
}
.clock .column {
    padding: 25px 0;
    float: none;
    display: inline-block;
    width: 20%;
    background: none;
    border-left: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.clock .c1 {
    padding: 25px 0;
    float: none;
    display: inline-block;
    width: 20%;
    background: none;
    border-left: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.days {
    display: none;
}
/* --//timer-- */
/*--newsletter--*/
.newsletter {
    text-align: center;
    width: 60%;
    margin: 1em auto 3em;
    position: relative;
}
.newsletter h2{
    color: #fff;
    font-size: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.newsletter input[type="email"] {
    padding: 13px 20px 13px 30px;
    border: 2px solid #fff;
    width: 90%;
    text-align: left;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    outline: none;
    letter-spacing: 2px;
    border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
	font-family: 'Source Sans Pro', sans-serif;
}
.newsletter input[type="submit"] {
    width: 25%;
    height: 41px;
    color: #333;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    right: 6px;
    padding: 0em;
    border: none;
    outline: none;
    border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.newsletter input[type="submit"]:hover {
    background: #999;
    color: #fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*--//newsletter--*/
/*--copyright--*/
.copy p {
	color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 2em 0 0 0;
}
.copy p a {
    color: #fff;
    text-decoration: none;
}
.copy p a:hover {
    color: #999;
}
/*--//copyright--*/
/*--responsive-design--*/
@media(max-width:1440px){
	.newsletter input[type="submit"] {
		right: 2px;
	}
}
@media(max-width:1366px){
	h1 {
		letter-spacing: 8px;
	}
	.newsletter {
		width: 61%;
	}
}
@media(max-width:1280px){
	.newsletter input[type="email"] {
		width: 89%;
	}
}
@media(max-width:1080px){
	h1 {
		letter-spacing: 6px;
		width: 35%;
	}
	.newsletter input[type="submit"] {
		width: 30%;
	}
	.newsletter input[type="email"] {
		width: 87%;
	}
}
@media(max-width:1024px){
	h1 {
		width: 38%;
	}
	.newsletter {
		width: 62%;
	}
	.agileits-timer {
		width: 60%;
	}
}
@media(max-width:991px){
	.newsletter {
		width: 64%;
	}
	.wthree-info p {
		font-size: 1.3em;
	}
}
@media(max-width:900px){
	h1 {
		width: 42%;
	}
	.newsletter {
		width: 66%;
	}
}
@media(max-width:800px){
	h1 {
		width: 45%;
		letter-spacing: 5px;
	}
	.agileits-timer {
		width: 62%;
	}
	.newsletter {
		width: 70%;
	}
	.copy p {
		font-size: 15px;
	}
}
@media(max-width:768px){
	.newsletter {
		width: 72%;
	}
}
@media(max-width:736px){
	h1 {
		width: 48%;
		font-size: 1.4em;
		letter-spacing: 5px;
	}
	.newsletter {
		width: 73%;
	}
	.newsletter input[type="email"] {
		padding: 11px 20px 11px 30px;
	}
	.newsletter input[type="submit"] {
		right: 1px;
		top: 4px;
		height: 37px;
	}
}
@media(max-width:684px){
	h1 {
		width: 50%;
	}
	.newsletter input[type="email"] {
		width: 86%;
	}
}
@media(max-width:667px){
	h1 {
		width: 50%;
		font-size: 1.4em;
		letter-spacing: 4px;
	}
	h2 {
		font-size: 30px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.newsletter {
		width: 77%;
	}
}
@media(max-width:600px){
	.agileits-timer {
		width: 80%;
	}
	.wthree-info p {
		font-size: 1.2em;
	}
	h1 {
		width: 52%;
		font-size: 1.3em;
	}
	.newsletter {
		width: 81%;
	}
	.copy p {
		letter-spacing: 1px;
	}
}
@media(max-width:568px){
	.newsletter {
		width: 83%;
	}
	.wthree-info p {
		padding: 0 1em;
	}
	.clock .column {
		padding: 15px 0;
	}
	.clock .c1 {
		padding: 15px 0;
	}
}
@media(max-width:480px){
	.clock .column {
		width: 22%;
	}
	.clock .c1 {
		width: 22%;
	}
	.agileits-timer {
		width: 80%;
	}
	.newsletter input[type="text"] {
		width: 50%;
	}
	h1 {
		width: 54%;
		font-size: 1.2em;
		letter-spacing: 3px;
	}
	.newsletter input[type="submit"] {
		right: 0px;
		width: 35%;
	}
	.newsletter input[type="email"] {
		width: 88%;
		padding: 11px 20px 11px 20px;
	}
	.timer {
		font-size: 3em;
	}
	h2 {
		font-size: 26px;
		margin-bottom: 10px;
	}
}
@media(max-width:414px){
	h1 {
		font-size: 1em;
	}
	h1 span {
		font-size: 3em;
	}
	.wthree-info p {
		font-size: 1em;
	}
	.newsletter {
		width: 89%;
	}
	.newsletter input[type="email"] {
		letter-spacing: 1px;
	}
	h1 {
		width: 61%;
		font-size: 1.1em;
		letter-spacing: 3px;
	}
}
@media(max-width:384px){
	.text {
		letter-spacing: 2px;
	}
	.agileits-timer {
		width: 90%;
	}
	.newsletter input[type="submit"] {
		right: 0px;
		width: 40%;
	}
	.newsletter {
		width: 92%;
	}
	h1 {
		width: 70%;
	}
}
@media(max-width:375px){
	.wthree-info p {
		font-size: .9em;
	}
	.newsletter input[type="email"] {
		width: 87%;
	}
	.newsletter {
		margin: 0em auto 2em;	
	}
}
@media(max-width:320px){
	.text {
		letter-spacing: 1px;
	}
	.newsletter input[type="text"] {
		padding: .5em;
	}
	.newsletter input[type="email"] {
		width: 86%;
	}
	.wthree-info p {
		font-size: .875em;
	}
	h1 {
		width: 77%;
	}
}	
 @media all and  (min-width: 600px) {
    table{
        background-color:orange;
    }
    h2{
        font-size:80px;
    }
    th{
        font-size:30px;
    }
    .heading{
        font-size:32px;
    }
    .matter{
        font-size:40px;
    }
    
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
   
    table{
        backgrouond-color:orange;
    }
    h2{
        font-size:30px;
    }
    th{
        font-size:12px;
    }
    td{
        font-size:12px;
    }
    .heading{
        font-size:15px;
    }
    .matter{
        font-size:30;
    }
    .column{
        padding:0;
        
    }
    #odometer1,#odometer2,#odometer3,#odometer01,#odometer02,#odometer03,#odometer10,#odometer20,#odometer30,#odometerl,#odometerm,#odometern,#odometer0l,#odometer0m,#odometer0n{
        height:70px;
        width:70px;
        padding-left:0px;
        padding-right:0px;
    }
    .odometer-inside{
        height:100%;
        width:100%;
    }
    .odometer-inside{
        font-size:50%;
    }
    .odometer-digit{
        width:25%;
        height:100%;
    }
    .odometer-value{
        height:100%;
        padding-top:60%;
        padding-right:2px;
        font-size:40px;
        width:100%;
    }
 
}
/*--//responsive-design--*/